<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include("partials/head.ejs") %>

  <body>

    <h1>My Blog App!</h1>

    <form action="/create" method="post">
      <input
        type="text"
        name="title"
        required
        placeholder="Add a title..."
      />
      <textarea
        name="text"
        cols="30"
        rows="10"
        required
        placeholder="Add some text..."
      ></textarea>
      <input type="submit" value="Create" />
    </form>

    <% if (blog.posts.length >= 1) { %>
    <ol class="blog-posts">
      <% blog.posts.forEach((post)=> { %>
      <li class="blog-posts__item">
        <p class="blog-posts__title"><%= post.title %></p>
        <p class="blog-posts__text"><%= post.text %></p>
        <p><%= post.date %></p>
        <form>
          <input
            class="blog-posts__id"
            type="hidden"
            name="id"
            value="<%= post.id %>"
          />
          <input
            class="blog-posts__id"
            type="hidden"
            name="title"
            value="<%= post.title %>"
          />
          <input
            class="blog-posts__id"
            type="hidden"
            name="text"
            value="<%= post.text %>"
          />
          <input
            class="blog-posts__update"
            type="submit"
            formaction="/edit"
            formmethod="post"
            value="Edit"
          />
          <input
            type="submit"
            formaction="/delete"
            formmethod="post"
            value="Delete"
          />
        </form>
      </li>
      <% }); %>
    </ol>
    <% } %>

  </body>
</html>
